// Color Variables
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-blue: #242A45;
$color-light-blue: #5267DF;
$color-dark-grey: #5B6074;
$color-light-grey: #F7F7F7;
$color-red: #FA5959;

// Font Variables
$font-family-primary: 'Rubik', sans-serif;